name: Validate Registries

on:
  pull_request:
    paths:
      - "apps/v4/public/r/registries.json"
  push:
    branches:
      - main
    paths:
      - "apps/v4/public/r/registries.json"

jobs:
  validate:
    runs-on: ubuntu-latest
    name: bun validate:registries
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build packages
        run: bun run build --filter=pitsi

      - name: Validate registries
        run: bun run --filter v4 validate:registries
